*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(135deg,#0f172a,#1e3a8a,#38bdf8);
    padding:20px;
}

.container{
    width:100%;
    max-width:420px;
}

.weather-card{
    background:rgba(255,255,255,0.12);
    backdrop-filter:blur(20px);
    border:1px solid rgba(255,255,255,.2);
    border-radius:25px;
    padding:35px 25px;
    text-align:center;
    color:#fff;
    box-shadow:0 20px 40px rgba(0,0,0,.25);
}

.weather-card h1{
    margin-bottom:25px;
}

.search-box{
    display:flex;
    gap:10px;
    margin-bottom:30px;
}

.search-box input{
    flex:1;
    padding:14px;
    border:none;
    outline:none;
    border-radius:12px;
    font-size:16px;
}

.search-box button{
    padding:14px 20px;
    border:none;
    border-radius:12px;
    background:#38bdf8;
    color:#fff;
    font-weight:600;
    cursor:pointer;
    transition:.3s;
}

.search-box button:hover{
    background:#0284c7;
}

.weather-info h2{
    font-size:28px;
    margin-bottom:10px;
}

.weather-info h1{
    font-size:60px;
    margin-bottom:10px;
}

.weather-info p{
    font-size:20px;
    margin-bottom:25px;
}

.details{
    display:flex;
    justify-content:space-between;
    gap:15px;
}

.details div{
    flex:1;
    background:rgba(255,255,255,.15);
    padding:18px;
    border-radius:15px;
    font-weight:600;
}

@media(max-width:480px){

.weather-card{
    padding:25px 20px;
}

.search-box{
    flex-direction:column;
}

.search-box button{
    width:100%;
}

.weather-info h1{
    font-size:50px;
}

}
